body, html {
    font-family: "Roboto", sans-serif;
    color: #fff;
}

/*----------------navbar------------------*/
.navbar {
    background-color: #838485;
    width: auto;
    height: auto;
    margin: 1px;
    padding: 10px;
}
.logo {
    background: url("/assets/images/Logo File 2.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    border: 5px;
    border-color: #fff;
    min-height: 150px;
    width: 700px;
}
.nav-menu {
    background-color: 
}
.nav-item {
    color: rgb(47, 209, 60);
    font-size: 24px;
    text-decoration: none;
    margin-left: 10px;
    padding: 5px;
    transition: .5s;
}
.nav-item:hover {
    color: rgb(166, 255, 0);
    text-decoration: none;
}

/*-----------------container-------------------*/
.container-fluid {
    background-color: #d0d5df;
    height: 100vh;
    padding: 15px;
    opacity: 0.75;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    justify-content: center;
    position: inherit;
}
.flex-container {
    background-color:#6f9abf;
}

/*-----------------footer-----------------------*/
.footer {
    display: flex;
    background-color: #838485;
    margin: 1px;
    color: #4a4a4f;
    width: 100%;
}
.fa {
    display: inline-flex;
    padding: 5px;
    font-size: 30px;
    text-align: left;
    text-decoration: none;
    margin: 3px 1px;
    cursor: pointer;
}
.fa:hover {
    opacity: 0.7;
    text-decoration: none;
    color: #d0d5d9;
}

.fa-facebook {
    color: #ffffff;
}
.fa-twitter {
    color: #ffffff;
}
.fa-youtube {
    color: #ffffff;
}
.fa-instagram {
    color: #ffffff;
}
.fa-google {
    color: #ffffff;
}
p.copyright {
    text-align: center;
    color: #fff;
    font-size: 12px;
    padding: 20px;
    margin: 2px;
}
/*---------------index2/3/4/5 html--------------------*/

.store {
    color: red;
    text-align: center;
    font-size: 80px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.gallery {
    color: pink;
    text-align: center;
}
.contact {
    color: black;
    text-align: center;
}
.basket {
    color:green;
    text-align: center;
}